<header class="main-header">
<nav class="main-header__nav">
    <ul class="main-hader__item-list">
        <li class="main-header__item"><a class="<%= path==='/' ? 'active':'' %>" href="/" >shop</a></li>
        <li class="main-header__item"><a class="<%= path==='/admin/add-user' ? 'active':'' %>" href="/admin/add-user" class="active">Add User</a></li>
    </ul>
</nav>
</header>