extends layouts/main-layout.pug
block styles    
    link(rel="stylesheet", href="/css/product.css")

block content
    main 
        if users.length > 0
            .grid
                each user in users 
                    article.card__product-item
                        header.card__header
                            h1.product__title #{user.title}
                        .card__image
                            img(src="https://cdn.pixabay.com/photo/2016/11/29/07/22/bible-1868070_960_720.jpg", alt="book")
                        .card__content
                            h2.product__price $19.11
                            p.product__description very intresting book
                        .card__actions
                            button.btn Add to Chart
        