<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
    
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-hader__item-list">
                <li class="main-header__item"><a href="/" class="active">shop</a></li>
                <li class="main-header__item"><a href="/admin/add-user">Add User</a></li>
            </ul>
        </nav>
    </header>
    <main>
          
        {{#if isHasUser }}
           <div class="grid">
               {{#each users}}
               <article class="card__product-item">
                    <header class="card__header">
                       <h1 class="product__title">{{ this.title }}</h1>
                    </header>
                    <div class="card__image">
                        <img src="https://cdn.pixabay.com/photo/2016/11/29/07/22/bible-1868070_960_720.jpg", alt="book">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">$19.11</h2>
                        <p class="product__description">very intresting book</p>
                    </div>
                    <div class="card__actions">
                        <button class="Butto">Add to Chart</button>
                    </div>
               </article>
               {{/each}}
           </div>
        {{/if}}               
    </main>
</body>
</html>